body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

.profile-search {
    display: flex;
    align-items: center;
}

.pharmacy-banner {
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #85a27d; 
}

.pharmacy-banner h1 {
    color: black;
    z-index: 1;
}

.title_pharm {
    font-size: 150px; /* Reduced the font size for better alignment */
    font-weight: 700;
    color: rgb(22, 21, 21);
    z-index: 1;
    position: relative; /* Ensures it stays above the image */
    text-align: center; /* Centers the text horizontally */
}

.pharmacy-banner img {
    width: 430px; 
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    z-index: 0; 
    bottom: 100; /* Adjust the image position relative to the bottom */
}

.categories {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.categories button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #80AF81;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.categories button:hover {
    background-color: #2c5237;
}

.categories .selected {
    background-color: #2c5237;
    color: #fff;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(214, 239, 216);
    text-align: center;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.add-to-cart {
    background-color: #3c6e47;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.add-to-cart:hover {
    background-color: #2c5237;
}

.hidden {
    display: none;
}
