html{
margin: 0;
padding: 0;
}

body{
  margin: 0;
  padding: 0;
}

.header{
  background-color: aqua;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Centering block element */
  margin: 0 ; /* Center horizontally */
  padding: 10px; /* Optional: Add some padding around the logo */
}
