html {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: aqua;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.logo {
  width: 170px;
  height: auto;
  display: block;
  margin: 0;
  padding: 10px;
}

.options {
  margin: 0;
  display: flex;
  list-style-type: none;
  gap: 3rem;
  justify-content: center;
  font-size: large;
  font-weight: 700;
  border: solid 1px;
  box-shadow: 10px 5px 5px rgb(88, 86, 86);
  padding: 1rem;
  
  li {
    
    a {
      color: black;
      text-decoration: none;
    }

    a:hover {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}